<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Frame Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Photo Frame Upload</h1>
        <div id="drop-zone" class="drop-zone">
            <p>Drag and drop photos here or click to select</p>
        </div>
    </div>
    <div class="container">
      <h1>Photos</h1>
      <div id="photo-dir" class="photo-dir">
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
